<div class="row">
  <div class="large-12 columns">
    <table>
      <tr>

        <th>Survey</th>

        <th colspan="4"></th>
      </tr>
  <% @survey.each do |s|%>
    <tr>

<% if s.status == "published"  %>
      <td><%= s.survey_name%></td>

      <td><%= link_to 'take', action: 'take', :id => s, :survey_id => s %></td>
          </tr>
      <% end %>
      <% end %>
    </table><br>
          </tr>

    </table><br>

  </div>
</div>
