<div class="opportunity panel radius pack pack-middle">
  <div class="pack-item opportunity-avatar">
    <img src="http://placehold.it/300x300" alt="User avatar" />
  </div>
  <div class="pack-item pack-full">
    <h5><%= giving_back.subject %></h5>
    <span><%= giving_back.position %></span>
  </div>
</div>
