<% # Author: Maxwell Barvian %>
<div class="row">
  <div class="medium-10 large-9 small-centered columns">
    <h1>Privacy Policy</h1>
    <p>North Central College maintains this website to support its mission and to provide iformation to you about the College, its policies, campus facilities, and educational and other programs. We hope that you will find this information helpful and easy to use.</p>
    <p>We are mindful that Internet browsers are sensitive to issues of privacy, and we will take every precaution to safeguard the personal information you provide to us. The personal information you provide will only be used for internal College purposes. We will not provide your personal information to unaffiliated third parties.</p>
    <p>The College makes every effort to ensure that its privacy policies and those of the federal and state governments are followed. Information submitted on the website is maintained on a private College server and handled in a confidential manner.</p>
    <p>Access to this website is monitored. The requesting URLs, the machine originating the request, and the time of the request are logged for access statistics and security purposes. Use of this website constitutes consent to such monitoring.</p>
  </div>
</div>
