<Div>
  <h1>DB Stuff</h1><br>
If your database is not working make sure your config/database.yml file correctly specifies the port and password of your MYSQL installation<br><br>
To reset your database and let rails configure it do the following:<br>
rake db:drop<br>
rake db:create<br>
rake db:migrate<br>
*WARNING* this will delete any data saved in your database<br><br>

If anyone else has any tips please add them to this or another temporary view
</Div>
