<% @vcenter = true %>
<div class="row">
  <div class="small-12 columns">
    <%= render 'shared/empty', icon: 'check', message: 'Thank you for submitting! You will be contacted shortly.' %>
  </div>
</div>
