<% # author: Maxwell Barvian %>
<% icon = 'minus-circle' if local_assigns[:icon].nil? %>
<% message = "There isn't anything here." if local_assigns[:message].nil? %>

<div class="empty">
  <i class="empty-icon fi-<%= icon %>"></i>
  <h4 class="empty-message"><%= message %></h4>
</div>
