<head javascript_include_tag "vendor/custom.modernizr"> </head>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Capstone Project</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Surveys</a></li>
      <li class="has-dropdown">
        <a href="#">Profile</a>
        <ul class="dropdown">
          <li class="active"><a href="#">View</a></li>
          <li><a href="#">Give Back</a></li>
          <li><a href="#">Search</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Home</a></li>
    </ul>
  </section>
</nav>
