<div class="row">
  <div class="large-12 columns">
    <h1>North Central College</h1>
    <p>Office of Graduate and Continuing Education</p>
    <%= link_to 'To add users without being logged in', controller: '/logins' %><br>
  </div>
</div>



