<!--<div class="row">
  <div class="field">
    <div class="large-6 small-6 columns">
      <%= f.label :first_name_or_last_name_or_email_addr_cont %>
    </div>
    <div class="large-6 small-6 columns">
      <%= f.search_field :first_name_or_last_name_or_email_addr_cont %>
    </div>
  </div>
</div>-->