<h1><%= @report_header %> Report Results</h1>

<div class="user_listing" style="overflow-y:scroll;height:600px">
  <table>
    <tr><td>Name</td><td>Info 1</td><td>Info 2</td><td>Info 3</td><td>Info 4</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    <tr><td>Brett</td><td>Apples</td><td>Oranges</td><td>Bananas</td><td>Grapefruit</td></tr>
    
  </table>
</div>
