<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="<%= 'active' if current_page?(admin_giving_back_index_path) %>">
      <%= link_to 'Giving Back', admin_giving_back_index_path %>
    </li>
    <li class="has-dropdown">
      <a href="#">Profile</a>
      <ul class="dropdown">
        <li>
          <a href="#">View My Profile</a>
        </li>
        <li>
          <%= link_to 'Edit profile', edit_login_registration_path %>
        </li>
        <li>
          <%= link_to "Logout", destroy_login_session_path, method: :delete  %>
        </li>
      </ul>
    </li>
  </ul>
</section>
