//
// Author: Maxwell Barvian
//
//= require jquery-ui/autocomplete
//

@import "**/*";

// Brad Bilter
// Adds sort buttons asc or desc depending on sort order for Login Manager index
table {
  width: 100%;

  tr[data-clickable]:hover {
    background: $silver;
  }
}

.sortable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sortable th .asc {
  background-image: image-url('up_arrow.png');
}

.sortable th .desc {
  background-image: image-url('down_arrow.png');
}
// End Brad Bilter

body {
  -webkit-font-smoothing: $font-smoothing;
  @if $font-smoothing == antialiased {
    -moz-osx-font-smoothing: grayscale;
  }
}

[role="main"] {
  padding-bottom: $footer-height + $footer-margin-top;
  margin-bottom: -$footer-height;
  min-height: 100%;
}

.contain-to-grid {
  margin-bottom: $topbar-margin-bottom;

  .top-bar {
    margin-bottom: 0;
  }

  ~ [role="main"] {
    padding-top: $topbar-height + $topbar-margin-bottom;
    margin-top: -($topbar-height + $topbar-margin-bottom);

    &.vcenter {
      width: 100%;
    }
  }
}

.top-bar .name {
  a {
    color: $topbar-link-color;
    display: block;
    height: $topbar-height;
    padding: 0 rem-calc(15);
  }
  .title, .subtitle {
    display: block;
    line-height: 1.25;
  }

  .title {
    font-size: $topbar-title-font-size;
    font-weight: $topbar-title-weight;
    padding-top: rem-calc(5);
  }

  .subtitle {
    font-size: $topbar-subtitle-font-size;
    font-weight: $topbar-subtitle-weight;
  }
}

.alerts {
  position: absolute;
  width: 100%;
  z-index: 90;

  .alert-box {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  }
}

.panel {
  box-shadow: $panel-box-shadow;
  transition: all 200ms ease-in-out;

  &.expanded {
    box-shadow: $panel-box-shadow-expanded;
    margin-left: -$panel-expanded-margin;
    margin-right: -$panel-expanded-margin;
    margin-bottom: $panel-margin-bottom + $panel-expanded-margin;
  }
}

.large {
  font-size: $large-font-size;
}

.button-group {
  white-space: nowrap;

  > li {
    white-space: normal;
  }
}

.button.icon {
  padding: rem-calc(8) rem-calc(14);
}

.button.new {
  margin-top: rem-calc(7);
}

.tabs dd > a, .tabs .tab-title > a {
  font-weight: $tabs-navigation-font-weight;
  outline: none;
}

.pack {
  display: table;
  width: 100%;
}

  .pack-equal {
    table-layout: fixed;
  }

  .pack-item {
    display: table-cell;

    &.pack-full {
      width: 100%;
    }

    &.pack-shrink {
      width: 1px;
    }

    .pack-middle > & {
      vertical-align: middle;
    }

    .pack-bottom > & {
      vertical-align: bottom;
    }

    .panel & + & {
      padding-left: $panel-padding;
    }
  }

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty {
  margin-bottom: rem-calc(15);
  text-align: center;
  text-shadow: 0 -1px 1px rgba($white, 0.75);
}

  .empty-icon {
    color: $base;
    display: inline-block;
    font-size: rem-calc(140);
    line-height: 1;
    margin-bottom: rem-calc(20);
  }

  .empty-message {
    color: $jumbo;
  }

.pipe-list {
  list-style-type: none;
  margin-left: 0;

  > li {
    display: inline-block;

    + li {
      &::before {
        content: '|';
        display: inline-block;
        font-weight: $font-weight-medium;
        margin-left: 0.35em;
        margin-right: 0.55em;
      }
    }
  }
}

.site-footer {
  height: $footer-height;
  text-align: center;
  white-space: nowrap;

  a {
    color: $footer-link-color;
    font-weight: $footer-link-weight;

    &:hover {
      color: $footer-link-color-hover;
    }

    %invert-page & {
      color: $white;

      &:hover {
        color: rgba($white, 0.75);
      }
    }
  }
}

.photo-credit {
  @extend .small;

  bottom: rem-calc(15);
  position: absolute;
  right: rem-calc(15);

  %invert-page & {
    color: rgba($white, 0.3);
  }
}

.filter-bar {
  @extend .clearfix;

  border-bottom: $filter-bar-border-bottom-width solid scale-color($filter-bar-label-color, $lightness: 50%);
  margin-bottom: $filter-bar-margin-bottom;

  + .empty {
    margin-top: rem-calc(40);
  }
}

  .filter-bar-label {
    color: $filter-bar-label-color;
    float: left;
    text-transform: uppercase;
  }

  .filter-bar-filters {
    @include inline-list();

    float: right;
    margin-bottom: 0;
    position: relative;
    bottom: -$filter-bar-border-bottom-width;

    > li {
      margin-left: 0;

      > a {
        border-bottom: $filter-bar-border-bottom-width solid transparent;
        color: $filter-bar-link-color;
        font-size: $filter-bar-link-font-size;
        font-weight: $filter-bar-link-font-weight;
        padding: 0 ($filter-bar-link-spacing / 2) $filter-bar-padding-bottom;
        text-transform: $filter-bar-link-text-transform;

        &:hover {
          color: $filter-bar-link-color-hover;
        }
      }

      &.active {
        > a {
          &, &:hover {
            border-bottom-color: $filter-bar-link-color-active;
            color: $filter-bar-link-color-active;
          }
        }
      }
    }
  }

fieldset {
  border: none;
  overflow: hidden;
  text-align: center;

  > * {
    text-align: left;
  }

  legend {
    display: inline-block;
    margin-bottom: $legend-margin-bottom;
    position: relative;
    text-align: center;
    text-transform: $legend-text-transform;

    &::before, &::after {
      border-top: $fieldset-border-width $fieldset-border-style $fieldset-border-color;
      content: '';
      position: absolute;
      margin-top: -($fieldset-border-width / 2);
      top: 50%;
      width: 100em;
    }

    &::before {
      margin-right: 0.75em;
      right: 100%;
    }

    &::after {
      left: 100%;
      margin-left: 0.75em;
    }
  }
}

[data-expandable] {
  .js & {
    cursor: pointer;

    .expand {
      display: none;
    }
  }

  .expand > :last-child {
    margin-bottom: 0;
  }
}

[data-clickable] {
  cursor: pointer;
}

input[type="submit"] {
  margin-top: rem-calc(20);
}

.actions {
  > li .button {
    margin-bottom: 0;

    &:not(:hover):not(:active) {
      background-color: $gainsboro;
    }
  }
}
