//
// Author: Maxwell Barvian
//

.opportunity {
  .js & {
    > :not(.expand) {
      user-select: none;
    }
  }

  .expand {
    padding-left: $panel-padding;
    padding-top: $panel-padding / 2;
    margin-left: 12.5%;
  }
}

.opportunity-avatar {
  width: 12.5%;

  > img {
    border: none;
    border-radius: 100%;
    width: 100%;
  }
}

.opportunity-company,
.opportunity-date {
  color: $jumbo;
  font-size: rem-calc(14);
}

.opportunity-company {
  font-weight: $font-weight-medium;

  &::after {
    content: " \00b7 "; /* middot */
  }
}

.opportunity-actions {
  @extend .actions;
}

.opportunity-type {
  text-align: center;
  width: 20%;
}

  .opportunity-type-icon {
    color: $iron;
    line-height: 1;
    font-size: rem-calc(36);
  }

  .opportunity-type-label {
    color: $base;
    display: block;
    font-size: rem-calc(12);
    line-height: 1.15;
    margin-top: 0.25em;
    text-transform: uppercase;
    white-space: nowrap;
  }
