.opportunity-avatar {
  width: 12.5%;

  > img {
    border-radius: 100%;
  }
}

.opportunity-actions {
  > li .button {
    margin-bottom: 0;

    &:not(:hover) {
      background-color: $gainsboro;
    }
  }
}
